<ion-view title="Project Str app" >
	<div class="bar bar-header">
   		<h1 class="title">Project Str App</h1>
	</div>
   <ion-content class="has-header bg" overflow-scroll="true" padding="true">
    
      <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="user.firstName">
  </label>
  <label class="item item-input" >
    <input type="text" placeholder="Last Name" ng-model="user.lastName">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments" ng-model="user.comments"></textarea>
  </label>


      <button class="button button-block button-positive" ng-click="home(user)">
		  Home
	  </button>

 



   </ion-content>
</ion-view>
